<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>A.P/I.K</title>
    <meta name="description" content="A.P/I.K">
    <meta name="author" content="A.P/I.K">


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" th:href="@{/zerogrid.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">


</head>

<body>
<div class="wrap-body">

    <header class="main-header">
        <div class="zerogrid">
            <!--Top-->
            <div id="top">
                <div class="row">
                    <div class="col-1-3">
                        <div class="top-search">
                            <form id="form-container" action="/movie/search">
                                <!--<input type="submit" id="searchsubmit" value="" />-->
                                <div id="searchtext">
                                    <!-- THYMELEAF FOR SEARCH-->
                                    <input type="text" id="s" name="query" placeholder="Search">
                                    <input type="submit" value="send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-center">
                <a class="site-branding" th:href="@{'/genres/'}">
                    <form>
                        <img th:src="@{/logo.png/}" width="300"/>
                    </form>
                </a>
                <div id='cssmenu' class="align-center">
                    <ul>
                        <li><a th:href="@{/genres/}"><span>Genres</span></a></li>
                        <li><a th:href="@{/movie/}"><span>Movies</span></a></li>
                        <li class="active"><a th:href="@{/movie/createForm/}"><span>Add Movie</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <meta charset="utf-8">
    <div class="container">

        <section id="container">
            <div class="wrap-container">
                <div id="main-content">
                    <div class="wrap-content">
                        <div class="zerogrid">
                            <div class="row">
                                <form action="#" th:action="@{/movie/createSubmit}" th:object="${movie}" method="post">
                                    <p>
                                        Name: <input type="text" th:field="*{name}">
                                    </p>
                                    <p>
                                        ReleaseDate : <input type="text" th:field="*{releaseDate}">
                                    </p>
                                    <p>
                                        Description : <input type="text" th:field="*{descritpion}">
                                    </p>
                                    <p>
                                        Genre: <input type="text" th:field="*{genre}">
                                    </p>
                                    <p>
                                        BoxOffice: <input type="text" th:field="*{boxOffice}">
                                    </p>
                                    <p><a>
                                        Image (Post a URL link to an img): <input type="text" th:field="*{image}">
                                        <span class="card-button-icon"></span></a></p>
                                    <p>
                                        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
