<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>A.P/I.K</title>
	<meta name="description" content="A.P/I.K">
	<meta name="author" content="A.P/I.K">


	<!-- CSS
    ================================================== -->
	<link rel="stylesheet" th:href="@{/zerogrid.css}">
	<link rel="stylesheet" th:href="@{/style.css}">
	<link rel="stylesheet" th:href="@{/font-awesome.css}">
	<link rel="stylesheet" th:href="@{/menu.css}">





</head>

<body>
<div class="wrap-body">

	<header class="main-header">
		<div class="zerogrid">
			<!--Top-->
			<div id="top">
				<div class="row">
					<div class="col-1-3">
						<div class="top-search">
							<form id="form-container" action="/movie/search">
								<!--<input type="submit" id="searchsubmit" value="" />-->
								<div id="searchtext">
									<!-- THYMELEAF FOR SEARCH-->
									<input type="text" id="s" name="query" placeholder="Search">
									<input type="submit" value="send" >
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="t-center">
				<a class="site-branding" th:href="@{'/genres/'}">
					<form>
						<img th:src="@{/logo.png/}" width="300"/>
					</form>
				</a>


				<div id='cssmenu' class="align-center">
					<ul>
						<li class="active"><a th:href="@{/genres/}"><span>Genres</span></a></li>
						<li><a th:href="@{/movie/}"><span>Movies</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>




	<!--////////////////////////////////////Container-->
	<!--////////////////////////////////////Container-->
	<section id="container">
		<div class="wrap-container">
			<div id="main-content">
				<div class="wrap-content">
					<div class="zerogrid">
						<div class="row">
							<th:block th:each="genre : ${genres}">
								<div class="col-1-3">
									<div class="wrap-col">
										<a th:href="@{'/movie/genre_movies/' + ${genre.title}}"  class="portfolio-box zoom-effect" >
											<img th:src="'/images/' +${genre.image}" class="img-responsive" alt="">
											<div class="portfolio-box-caption">
												<div class="portfolio-box-caption-content">
													<div class="project-name">
														<span th:text="${genre.title}"></span>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</div>
<!--////////////////////////////////////Footer-->
</div>
</body>

</html>