<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>A.P/I.K</title>
    <meta name="description" content="A.P/I.K">
    <meta name="author" content="A.P/I.K">


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" th:href="@{/zerogrid.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">


</head>

<body>
<div class="wrap-body">

    <header class="main-header">
        <div class="zerogrid">
            <!--Top-->
            <div id="top">
                <div class="row">
                    <div class="col-1-3">
                        <div class="top-search">
                            <form id="form-container" action="/movie/search">
                                <!--<input type="submit" id="searchsubmit" value="" />-->
                                <div id="searchtext">
                                    <!-- THYMELEAF FOR SEARCH-->
                                    <input type="text" id="s" name="query" placeholder="Search">
                                    <input type="submit" value="send">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-center">
                <a class="site-branding" th:href="@{'/genres/'}">
                    <form>
                        <img th:src="@{/logo.png/}" width="300"/>
                    </form>
                </a>
                <div id='cssmenu' class="align-center">
                    <ul>
                        <li><a th:href="@{/genres/}"><span>Genres</span></a></li>
                        <li class="active"><a th:href="@{/movie/}"><span>Movies</span></a></li>
                        <li><a th:href="@{/movie/createForm/}"><span>Add Movie</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <meta charset="utf-8">
    <div class="container">

        <section id="container">
            <div class="wrap-container">
                <div id="main-content">
                    <div class="wrap-content">
                        <div class="zerogrid">
                            <div class="row">
                                <th:block th:each="movie : ${movies}">
                                    <div class="card u-clearfix">
                                        <div class="card-media">
                                            <a th:href="'/movie/movie/' +${movie.name}">
                                                <img th:src="'/images/' +${movie.image}" alt="" class="card-media-img"/>
                                            </a>
                                            <span th:text="${movie.genre}" alt="" class="card-media-tag card-media-tag-orange" ></span>
                                        </div>
                                        <div class="card-body">
                                            <h2 class="card-body-heading" th:text="${movie.name}"></h2>
                                            <div class="card-body-options">
                                                <div class="card-body-option card-body-option-favorite">
                                                    <a th:href="'/movie/movie/' +${movie.name}"
                                                       class="card-button card-button-link">
                                                        More info
                                                    </a>
                                                        <form action="#" th:action="@{/movie/delete}" th:object="${movie}" method="post" class="card-button card-button-link">
                                                            <font color="red">Delete Movie</font>

                                                        <span class="card-button-icon"></span>
                                                </form>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
