<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>A.P/I.K</title>
    <meta name="description" content="A.P/I.K">
    <meta name="author" content="A.P/I.K">


    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" th:href="@{/zerogrid.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/font-awesome.css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/menu.css}">





</head>

<body>
<div class="wrap-body">

    <header class="main-header">
        <div class="zerogrid">
            <!--Top-->
            <div id="top">
                <div class="row">
                    <div class="col-1-3">
                        <div class="top-search">
                            <form id="form-container" action="/movie/search">
                                <!--<input type="submit" id="searchsubmit" value="" />-->
                                <div id="searchtext">
                                    <!-- THYMELEAF FOR SEARCH-->
                                    <input type="text" id="s" name="query" placeholder="Search">
                                    <input type="submit" value="send" >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-center">
                <a class="site-branding" th:href="@{'/genres/'}">
                    <form>
                        <img th:src="@{/logo.png/}" width="300"/>
                    </form>
                </a><!-- .site-branding --


				<-- Menu-main -->
                <div id='cssmenu' class="align-center">
                    <ul>
                        <li class="active"><a th:href="@{/genres/}"><span>Genres</span></a></li>
                        <li><a th:href="@{/movie/}"><span>Movies</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------Content-Box-------------------->
				<article class="single-post zerogrid">
					<div class="row wrap-post"><!--Start Box-->
                        <th:block th:each="movie : ${movie}">
						<div class="entry-header">
                            <h1 class="entry-title" th:text="${movie.releaseDate}"> </h1>
							<h1 class="entry-title" th:text="${movie.name}"> </h1>
							<span class="cat-links" th:text="${movie.genre}"></span>
						</div>
						<div class="post-thumbnail-wrap">
                            <img th:src="'/images/' +${movie.image}" alt="" class="card-media-img"/>
						</div>
						<div class="entry-content">
							<p><b>Description</b></p>
                            <div class="excerpt th:text="${movie.descritpion}>

                        </div>
                        </div>
                        </th:block>
                    </div>
                </article>
            </div>
        </section>
</div>

</body>
</html>